.banner {
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    background-color: #000000;
}

.banner__imagen {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 850px;
    min-width: 400px;
    
}