.header {

    background: $negrofondo;
    color: white;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

.main__container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header a {
    color: $rosado;
    text-decoration: none;

}

.logo {
    letter-spacing: 15px;
    font-size: 1.0em;

}

.logo-nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 0.5rem 1em;
            transition: all 0.4s linear;
            border-radius: 5px;

            :hover {
                background: #24f2ff;
            }
        }


    }


}

.main {
    padding: 0.2rem;
}